#main{
	padding-left: 10px;
	padding-right: 10px;
	
}

#h3a{
	margin-top: 7px;
}

h3{
	margin-top: 20px;
}

p{
	margin-bottom: 0px;
	text-align: left;
}

footer p{
	text-align: center;
}