*{
  
  margin:0;
  padding:0;
}

html, body{
  height: 98%;
}

body{
  margin-top: 0px;
  background-color: white;
  font-family: Tahoma, Arial;
}

#container{
	min-height: 98%;
	width: 90%;
	position:relative;
	margin: 10px auto 0;
	vertical-align:bottom;
	background-color: white;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	overflow: hidden;
}

h1{
	margin-top: 20px;
	text-align: center;
}

header{
    height: 132px;
    background-image:url('banner.png');
	background-repeat: no-repeat;
}

nav{
	background-color: black;
    height: 30px;
    margin-top:-2%;
}

nav a{
	color: white;
	text-decoration: none;
}

nav a:hover{
	background-color: grey;
  text-decoration: none;
}


nav ul li{
 	margin: 0;
	padding: 0 0 0 10px;
	list-style-type: none;
	float: left;
	margin: 5.5px 15px 5.5px 5px;
	position: relative;
}

#main{
	margin-top: -20px;
}

footer
{
    margin-top: 15px;
    height: 5%;
    border-top: 6px solid red;
    width: 100%;
    background-color: black;
}

footer a, footer p
{
    text-align: right;
	text-decoration: none;
	color:	grey;
}

footer a:hover
{
	text-decoration: underline;	
}

